/* ***************** subtitle ********************** */

.sub-title-container {
    margin-top: 67.5px;
    margin-bottom: 55.2px;
}

.sub-title {
    width: 480px;
    height: 27px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.3;
    letter-spacing: normal;
    color: #554d60;
}


/* ***************** input email ******************* */

.form-container {
    margin-top: 55.2px;
}

.email-input-container {
    width: 365.2px;
    margin: 1px 2.3px 0 0.3px;
    position: relative;
    top: 0;
    left: 0;
}

.email-input {
    position: absolute;
    border: 2px solid #ea850e;
    background-color: rgba(50, 45, 60, 0.05);
    height: 48.7px;
    width: 314;
}

.email-input::placeholder {
    color: #554d60;
    line-height: 1.35;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
}

.label-container {
    margin-bottom: 7.9px;
}

.input-label {
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: normal;
}

.plus-icon {
    height: 28px;
    width: 28px;
}


/* ***************** input uploader **************** */

.uploader-container {
    display: flex;
    width: 280px;
}

.uploader-input::-webkit-file-upload-button {
    visibility: hidden;
}

.uploader-input::before {
    content: 'Importer des collectivités';
    cursor: pointer;
}

.uploader-input {
    border-radius: 0px 10px 10px 0px;
    border: solid 1px #554d60;
    border-left: none;
    padding: 10px 16px 7px 10px;
    text-shadow: 1px 1px #fff;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #554d60;
}

.upload-icon {
    width: 20px;
    height: 22px;
}


/* ***************** buttons ************************ */

.btn-square {
    margin-left: -15px;
    margin-bottom: 8px;
    height: 49px;
    width: 51.2px;
    background-color: #ea850e;
    color: #fff;
    border: 0;
    position: absolute;
    right: 0;
}

.btn-upload {
    border-radius: 10px 0px 0px 10px;
    border: solid 1px #554d60;
    border-right: none;
    margin-left: 0px;
    height: 48.7px;
    width: 48.7px;
    background-color: #fff;
    color: #f00;
}

.btn-container {
    margin-top: 368px;
    margin-bottom: 57px;
    mar
}

.btn {
    width: 180px;
    height: 47px;
    padding: 10px 51px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-next {
    border-width: 1px;
    background-color: #fff;
    color: #554d60;
    border-color: #ea850e;
}

.btn-back {
    background-color: #ea850e;
    color: #fff;
    border: 0;
}